@import '../../scss/variables&mixins.scss';

.Project {
    display: inline-block;
    margin-bottom: 40px;
    width: calc(50% - 20px);
    position: relative;
    cursor: pointer;

    

    .outer{
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 0;
        padding-bottom: 70%;
        // text-align: center;
        color: RGB(230,230,230);
        overflow: hidden;

        &.inner{
            &:hover{
                opacity: 0;
            }
        }
    }

    img{
        position: absolute;
        width: 100%;
        top: 50%;
        min-height: 100%;
        transform: translateY(-50%);

        &.imageToHide{
            &:hover{
                opacity: 0!important;
            }
        }
    }
}

@media screen and (max-width: $mobileWidth){
    .Project{
        width: 100%;
    }
}