@import '../../scss//variables&mixins.scss';

.contactContainer{
    //position: absolute;
    left: 0;
    width: 100%;
    top: calc(50% - 100px);



    img{
        float: left;
        height: 21vw;
        transform: translateY(-2vw);
        margin-right: 20px;
    }

    .rightContainer{
        max-width: $maxWidth;
        margin: auto;
        text-align: right;
    }
}

@media screen and (max-width: $desktopWidth){
    .contactContainer{
        .rightContainer{
            padding-right: $padding;
        }

    }
}