@import '../../scss/variables&mixins.scss';


.singleProject{


    .projectDescriptionContainer{
        display: flex;
        flex-direction: row-reverse;
        text-align: right;

        .projectDescription {
            max-width: 30%;
            padding-left: 50px;
        }
    }
 
}


.postNavigation{
    width: 100%;

    a.nextButton{
        float: right;
    }
}



@media screen and (max-width: $desktopWidth){
    .projectDescription{
        padding-right: $padding;
    }

    .postNavigation{

        .postNavigationCaption{
            opacity: 0;
        }

        a{
            span{
                padding: 10px 0;
                display: inline-block;
            }
            &:hover{
                .postNavigationCaption{
                    opacity: 1;
                } 
            }
        }

        .nextButton{
            padding-right: $padding;
        }

        .prevButton{
            padding-left: $padding;
        }

       
    }
}

@media screen and (max-width: $mobileWidth){

    .singleProject{

        .projectDescriptionContainer{

            flex-direction: column;
            
            .projectDescription {
                max-width: 100%;
                padding-bottom: 40px;
            }
        }
   
    }
}