
@import './scss/variables&mixins.scss';


//  ////////////////////////////////////////////////////////////////
//  === GLOBAL SCSS ===   === GLOBAL SCSS ===   === GLOBAL SCSS === 
//  === GLOBAL SCSS ===   === GLOBAL SCSS ===   === GLOBAL SCSS === 
//  ////////////////////////////////////////////////////////////////

.App{
  position: relative;
  min-height: 100vh;

  
}


body{
 
  *{
    //font-weight: 100;
    @include animate;

  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

li{
  list-style: none;
}


a {
  color: $black;
  text-decoration: none;

  &:hover{
    opacity: 0.5;
  }
}

h1{
  font-size: 20px;
}