//  ////////////////////////////////////////////////////////////////
//  === COLORS ===   === COLORS ===   === COLORS === 
//  === COLORS ===   === COLORS ===   === COLORS === 
//  ////////////////////////////////////////////////////////////////

$white: white;
$black: black;








//  ////////////////////////////////////////////////////////////////
//  === VARIABLES ===   === VARIABLES ===   === VARIABLES === 
//  === VARIABLES ===   === VARIABLES ===   === VARIABLES === 
//  ////////////////////////////////////////////////////////////////

$maxWidth: 1160px;












//  ////////////////////////////////////////////////////////////////
//  === MIXINS ===   === MIXINS ===   === MIXINS === 
//  === MIXINS ===   === MIXINS ===   === MIXINS === 
//  ////////////////////////////////////////////////////////////////
