//  ////////////////////////////////////////////////////////////////
//  === COLORS ===   === COLORS ===   === COLORS === 
//  === COLORS ===   === COLORS ===   === COLORS === 
//  ////////////////////////////////////////////////////////////////

$white: white;
$black: black;








//  ////////////////////////////////////////////////////////////////
//  === VARIABLES ===   === VARIABLES ===   === VARIABLES === 
//  === VARIABLES ===   === VARIABLES ===   === VARIABLES === 
//  ////////////////////////////////////////////////////////////////

$maxWidth: 1160px;

$imgBottomM: 40px;

$padding: 10px;





//  ////////////////////////////////////////////////////////////////
//  === MediaSizes ===   === MediaSizes ===   === MediaSizes === 
//  === MediaSizes ===   === MediaSizes ===   === MediaSizes === 
//  ////////////////////////////////////////////////////////////////


$mobileWidth: 650px;

$desktopWidth: $maxWidth;






//  ////////////////////////////////////////////////////////////////
//  === MIXINS ===   === MIXINS ===   === MIXINS === 
//  === MIXINS ===   === MIXINS ===   === MIXINS === 
//  ////////////////////////////////////////////////////////////////


@mixin animate{
    transition: 0.5s all;
}